/*
	閲戦挶鏌滅郴缁熸枃浠舵牱寮忚〃
*/
/*html5鐨勬爣绛�/
body{font-family:Microsoft YaHei;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
        display: block;
}
a,.btn,p,span{text-shadow:none;}
a:hover{text-decoration: none;}
ul,ol{margin:0px;padding:0px;}
ul li,ol li{list-style-type:none;}
.warp{width:1200px;margin:0 auto}
/******login鏍峰紡*******/
#nav_back li a{background:red}
#content_bg{border:1px solid #dcdcdc;height:auto;}
.row-fluid .span9 img{margin:17px 0px 17px 14px;}
.span3 form{ margin-top:112px; margin-left:-60px;}
.span3 form input{ width:240px;height:40px;border-radius:5px; line-height:40px;}
#username{padding-left:50px;background:url(../images/user_bg.jpg) no-repeat 9px 12px;}
#password{padding-left:50px;background:url(../images/pass_bg.jpg) no-repeat 9px 12px;}
.span3 .btn{width:170px;height:50px;background:#ff5c01;margin-left:60px; color:#fff; font-size:19px; margin-top:25px;letter-spacing:5px;}
a.pull-right{margin-right:60px;color:#31b6ee;}
.zhuce{display:block;margin-left:80px;font-size:12px;color:#010100; margin-top:10px;}
.zhuce a{color:#31b6ee;}
.related{width:100%; height:92px;margin-top:65px; background:#e7e9e6;}
#related_list{padding-left:17px;height:92px; margin-bottom:0px;}
#related_list ul{margin:0px;}
#related_list ul li{line-height:92px;padding-left:100px;}
#related_list ul li a{padding:0px;font-size:12px;color:#676c68;}#related_list ul li a:hover{color:#676c68;}
.daohang{width:100%; height:60px;background:#414141;}
#nav_list{padding-left:25px;height:60px; margin-bottom:0px;}
#nav_list ul{margin:0px;}
#nav_list ul li{line-height:60px;padding-left:30px;}
#nav_list ul li a{padding:0px;font-size:14px;color:#fff;}#nav_list ul li a:hover{color:#fff;}
#jisuan{width:135px;padding-left:10px;}
.kuaijie{width:390px;}
.kuaijie .btn{ background:#ff6201;font-size:15px;color:#fff;width:109px;height:35px;radius:5px;margin-top:8px;line-height:35px;border:0px;letter-spacing:5px;}
.kuaijie_rukou{ width:66px;height:19px;position:relative;right:0px;top:20px;background:url(../images/rukou.jpg) no-repeat;}
.kuaijie_rukou a{width:22px;height:19px;position:absolute; }
.kuaijie_rukou .sina{left:0px;top:0px;}
.kuaijie_rukou .qq_rukou{top:0px;right:0px;}#747474
/******鎴戣鍊熸椤甸潰鏍峰紡*******/
.con_bg{ height: 505px;width: 100%;background: #e5e8ef;border-bottom: 1px solid #fff;border-top: 1px solid  #cdd0d7;}
.con_bg .biao_title{font-size: 19px;color: #010101;letter-spacing: 1px; font-weight: 500;height:65px;line-height:65px;font-family: "榛戜綋";}
.con_bg ul{margin:0px 0px 15px 0px;}
.con_bg ul li{width: 239px;list-style-type:none;float: left;overflow: hidden;border-left:1px solid #ebe4ec;height: auto;background: #fff;}
.con_bg li span{display: block;width: 222px;height: 60px;padding-left: 18px;line-height: 60px;color: #fff;font-size: 17px;font-weight: bold;}
.con_bg li p{width: 210px;height: auto;font-size: 12px;color: #b16b9d;margin: 20px auto 30px auto;line-height: 22px;font-family: "寰蒋闆呴粦";font-weight: bold;}
.con_bg li a{margin-right: 15px;color:#782098;font-size: 12px;}
.con_bg li .anniu{margin-top: 60px;margin-left: 60px;height: 28px; padding-bottom: 20px;}
.con_bg li .btn{font-size: 15px;color: #1079e6;width: 120px;height: 28px;border: 2px solid #248de9;border-radius: 10px;line-height: 18px;letter-spacing:5px;}
.con_bg li .diya{background: #828f01;}
.con_bg li .danbao{background: #0062cd;}
.con_bg li .xinyong{background: #f58600;}
.con_bg li .jinzhi{background: #e2097c;}
#youxia{margin-top:15px;}
#youxia .btn{width:133px; height:40px;border-radius:5px;font-size:12px; color:#020014;margin-left:15px;font-weight:bold;letter-spacing:5px;}
#youxia .xieyi_btn{background:#56b5cb;}
#youxia .jisuan_btn{background:#eca300;}
/******鐗堜富涓績椤甸潰鏍峰紡*******/
.help_bg{width:100%;height:1325px;background: #e5e8ef;border-bottom: 1px solid #fff;border-top: 1px solid  #cdd0d7;}
#breadcrumb{padding:10px 0px 0px 0px;height:38px;background-color:#e5e8ef;margin:0 0 15px 0px; clear:both;}
#breadcrumb li,#breadcrumb li a{font-size:18px;color:#000000;font-family:"榛戜綋";line-height:38px;}
#breadcrumb li .divider{padding:0px;color:#000000;}
.help_left{float:left;overflow:hidden;} .help_right{float:right; overflow:hidden; width:1010px;border:1px solid #e3e3e3; height:auto;}
.help_left ul{width:148px;height:auto;border:1px solid #e3e3e3;margin:0px;}
.help_left ul li{width:148px;height:49px;line-height:49px;border-bottom:1px solid #e3e3e3;font-size:19px;color:#fff;text-align:center;}
.help_left ul .help_title{background:#ff5d00;}
.help_left li a{display:block;height49px;line-height:49px;text-align:center;font-size:19px;color:#010101;}
.help_back{background:#fff;}
.weixin_pic{width:130px;height:155px;margin-left:3px;margin-top:3px;border:1px solid #e3e3e3;}
.weixin_pic p{padding:5px 0px 0px 5px; font-size:12px; color:#ea6b0e;}
.weixin_pic img{padding-left:5px;}
.help_content{width:985px; margin-left:15px;}
.help_content h3{height:59px;font-size:22px;color:#fd6001;line-height:70px;border-bottom:1px dashed #844c27;margin:0px 0px 25px 0px;}
.help_content p{width:100%;height:auto;line-height:34px;font-size:14px;color:#8a8484;margin-bottom:35px;TEXT-INDENT:2em;}
.help_content h4{font-size:18px;height:18px;font-weight:800;color:#fc8c36;}
.help_content .xinnian{TEXT-INDENT:0em;}
.xinnian span{padding-left:15px;}
.content_btm{height:210px;}
/******娉ㄥ唽椤甸潰鏍峰紡*******/
.zhuceye_bg{position:relative;}
.zhuceye_bg .hongbao{position:absolute;width:173px;height:283px; right:0px;top:430px;background:url(../images/hongbao.png) no-repeat;}
.register_bg{width:1198px;height:auto;border:1px solid #dcdcdc; background:url("../images/jinshouzhi.png") no-repeat scroll 750px 350px;}
.register_bg .register_conter{width:825px;height:auto;margin:24px auto 0px auto;padding-bottom:25px; position:relative;}
.register_bg .register_conter .login_lianjie{width:130px;height:22px;position:absolute;right:0px;top:100px;}
.login_lianjie{color:#000000;}.login_lianjie a{color:#38acdf;}
.register_order{width:822px;height:74px; background:url(../images/order_1.jpg) no-repeat;margin-bottom:50px;}
.register_form .form-horizontal .control-label{width:90px;height:40px;line-height:40px;font-size:12px; color:#777276;padding-top:0px;margin-bottom:0px;font-weight:bold;}
.register_form .form-horizontal .controls{margin-left:100px;height:40px;line-height:40px;}
input[type="text"],input[type="number"],input[type="email"], input[type="tel"],input[type="password"]{height:40px;line-height:40px; width:225px;padding-left:30px;}
.required img{display:inline;padding-right:5px;padding-bottom:10px;}
.register_form .controls img{padding-left:10px; padding-right:5px;}
.register_form .controls span{color:#747474;font-size:12px; width:150px;}
#inputEmail{background:url(../images/input_bg.jpg) no-repeat -3px 12px;}
#inputPassword,#inputPassword2{background:url(../images/input_bg.jpg) no-repeat -3px -38px;}
#tel{background:url(../images/input_bg.jpg) no-repeat -3px -90px;}
#email{background:url(../images/input_bg.jpg) no-repeat -3px -140px;}
#tuijian{background:url(../images/input_bg.jpg) no-repeat -3px -187px;}
.register_form .xieyishu{padding-left:5px; color:#38acdf;}
.register_form .checkbox{color:#767475;}
.register_form code{border:0px;color:#767475;font-size:14px;padding:0px;}
.register_form .btn{background: none repeat scroll 0 0 #ff5800;color: #fff;font-size: 18px;height: 48px; margin-left: 300px;margin-top: 50px;width: 200px;letter-spacing:5px;}
.register_form .control-group{height:65px;margin-bottom:0px;}

/******鎴戠殑甯愭埛椤甸潰鏍峰紡*******/
.account_bg{width:100%;height:auto;background:#e5e8ef;}
#breadcrumb #biaoti{color:#cf2e33;}
.account_left{float:left;width:182px;height:auto;}
.account_right{float:right;padding-bottom:10px;width:940px;margin-top: 15px;}
.account_left{font-weight:bold;}
.a_left_top{width:100%; height:62px; background:#e96113;line-height:62px;text-align:center;font-size:21px;color:#fff;margin-bottom:4px;}
.account_left ul li{width:100%; height:49px; background:url("../images/anniu_bg.jpg") no-repeat;margin-bottom:3px;}
.account_left li a{display:block;width:100%; line-height:49px;text-align:center;font-size:15px;color:#767573; }
.account_left .left_list_top{background:#e96113;color:#fff;font-size:15px;line-height:49px;text-align:center;}
#list1{background:url("../images/lianjie_bg.jpg") no-repeat 0px 13px;}
#list2{background:url("../images/lianjie_bg.jpg") no-repeat 0px -54px;}
#list3{background:url("../images/lianjie_bg.jpg") no-repeat 0px -112px;}
#list4{background:url("../images/lianjie_bg.jpg") no-repeat 0px -175px;}
#list5{background:url("../images/lianjie_bg.jpg") no-repeat 0px -215px;}
.account_right .everyone{height:330px;overflow:hidden;background:#fff;}
.right_title{width:940px; height:64px;border:1px solid #e4e4e4; background:#f2f2f2;overflow:hidden;}
.right_title span{width:200px;line-height:24px;height:24px;margin-top:22px;margin-left:18px; padding-left:30px;color:#4c4c4c;font-size:17px;font-family:"寰蒋闆呴粦";font-weight:bold;display:block;background:url(../images/jiantou.jpg) no-repeat;}
.every_left{float:left;width:728px;height:265px;margin-left:9px;}
.every_left ul{height:199px;border-bottom:1px solid #d8d8d8;}
.every_left ul li{float:left;width:363px;overflow:hidden;border-right:1px solid #dddbe6;height:199px;}
.every_right{float:left;width:190px;height:265px;border-left:1px solid #dddbe6;}
.everyone .neirong{width:220px;height:auto;margin-top:50px;margin-left:60px;}
.neirong p{line-height:25px;}
.neirong .btngroup{margin-top:30px;width:270px;}
.neirong .btn{padding:10px;background:#83a601;color:#fff;text-shadow:none;margin-right:10px;border-radius:0px;letter-spacing:5px;}
.every_right .touxiang{width:145px;height:auto;margin:35px auto 0px auto;}
.touxiang img{padding:1px;border:1px solid #f4f4f4;height:135px;margin-bottom:10px; margin-left:13px;}
.touxiang .btn{width:105px;height:30px;border:1px solid #f4f4f4;text-align:center;line-height:20px;color:#fbfcfe; margin-right:20px; background:#62dfa5;font-weight:800;letter-spacing:5px;}

.every_mingxi{height:310px;overflow:hidden;background:#fff;margin:15px 0px;}
.every_mingxi ul{margin-top:38px;margin-left:75px;overflow:hidden;}
.every_mingxi ul li{float:left;width:238px;height:156px;margin-right:38px;}
.lend{background:#67c1e6;}
.jieru{background:#ff6960;}
.yuqi{background:#56d399;}
.mingxi_title{font-size:18px;color:#fff;padding:5px 0px 0px 10px;margin-bottom:20px;font-weight:800;}
.every_mingxi p{padding-left:18px;font-size:16px;color:#fff;line-height:25px;height:25px;}

.account_right .dongtai{overflow:hidden;}
.dongtai .dongtai_left{width:499px;height:auto;background:#fff;float:left;border-right:1px solid #dcdcdc;overflow:hidden;min-height:289px;}
.dongtai .title{width:400px;height:40px;line-height:40px;border-bottom:1px dashed #ebebeb;margin:20px auto 0px auto;text-indent:10px;font-size:16px;color:#515753;}
.dongtai .title a{display:block;float:right;padding-right:10px;color:#7ca500;font-size:12px;line-height:60px;}
.dongtai ul{margin-left:50px;margin-top:12px;padding-bottom:36px;}
.dongtai ul li{float:none;height:36px;cursor:text;overflow:hidden;}
.dongtai ul li a{color:#555553;font-size:14px;display:block;width:100%;height:14px;margin-top:6px;}
.dongtai .dongtai_right{float:left;width:500px;height:auto;background:#fff;overflow:hidden;min-height:289px;}
/******鎴戣鍊熸璇︽儏椤垫牱寮�******/
.load_process{background:#f6f6f6;height:145px;width:1198px;border:1px solid #dedede; margin-top:20px;overflow:hidden;}
.process{margin-left:50px;margin-top:33px;overflow:hidden;}
.process li{float:left;width:145px;height:112px; overflow:hidden;}
.process li p{margin-top:80px;font-size:22px;color:#aba9b4;}
.process .jiantou{width:23px;height:33px;margin-top:30px;background:url(../images/pro_jiantou.jpg) no-repeat;margin-right:70px;}
.process_one{background:url(../images/process_bg1.jpg) no-repeat 15px 0px;}
.process_two{background:url(../images/process_bg2.jpg) no-repeat 0px 5px;}
.process_three{background:url(../images/process_bg3.jpg) no-repeat 8px 10px;}
.process_four{background:url(../images/process_bg4.jpg) no-repeat 8px 10px;}
.process_five{background:url(../images/process_bg5.jpg) no-repeat 8px 10px;}
.apply,.tishi{width:1198px;height:auto;background:#fff;border:1px solid #dedede;margin:25px 0px;}
.this_content{width:1100px;height:auto; margin:0 auto;}
.this_title{font-size:24px;height:70px;line-height:70px;color:#767676;font-weight:bold;}
.apply ul li{float:left;width:330px;height:auto;margin-right:30px;}
.apply ul .list_right{width:374px;margin-right:0px;}
.list_left .control-label,.list_center .control-label ,.list_right .control-label{width:82px;text-align:right;font-size:15px;height:30px;line-height:30px;color:#7c7c7c;padding-top:5px;}
.list_right .faren{width:100px;}
#faren{width:265px;}
.list_right .control-label{width:90px;}
#jiemoney, #zhouqi{width:75px;height:30px;line-height:30px;padding-left:0px;}
.list_right .help-inline{font-size:15px;color:#7c7c7c;padding-top:10px;padding-left:0px;}
.list_right .controls{margin-left:100px;}
.list_right .controls-row{margin-left:0px;overflow:hidden;margin-bottom:8px;}
.list_right .controls-row .row_left,.list_right .controls-row .right{float:left;}
.list_right .city{text-align:center;}
.list_right .zhouqi_label{width:60px;}
.list_left .controls ,.list_center .controls{margin-left:82px;}
.list_left .controls input,.list_left .controls textarea,.list_center .controls input,.list_center .controls textarea,.list_center .controls input,.list_center .controls input,.list_right .controls textarea{width:240px;padding-left:0px;}
.list_left .controls input,.list_center .controls input,.list_right .controls input{height:30px;line-height:30px;padding-top:5px;padding-left:0px;}
.tijiao_load{ border: 0;height: 45px;width: 300px;background:#b20a01;font-size:23px;color:#fff;margin-top:45px;margin-left:380px;}
.apply ul .tijiao_load:hover{background:#b20a01;color:#fff;}
.apply_process{overflow:hidden;margin-top:37px;}
.bibei_left,.bibei_center,.bibei_right{float:left;width:378px;border:1px solid #dedede;height:auto;display:inline;background:#fff;}
#thumbnails{width:360px;margin:0 auto;}
#thumbnails h3{font-size:25px;color:#767676;} 
.bibei_left .span4,.bibei_center .span4,.bibei_right .span4{width:360px;margin:0 auto;} 
.bibei_left .span4 .thumbnail,.bibei_center .span4 .thumbnail,.bibei_right .span4 .thumbnail{border:0px;}
.bibei_center{margin:0px 30px;}
.jieshi{margin-top:30px;padding-bottom:55px;height:216px;padding-bottom:20px;}
.jieshi p{font-size:18px;color:#989898;line-height:30px;}
.tishi p{padding-bottom:50px;line-height:34px;font-size:18px;color:#787878;}
/******鎴戣鎶曡祫鏍峰紡*******/
.shaixun_background{background:#fff1dc;width:100%;padding-bottom:10px;}
#tz_breadcrumb{background:#fff1dc;padding-top:15px; clear: both;height: 38px;font-size:12px;color:#434240;padding-left:0px;margin:0px;}
#tz_breadcrumb a,#tz_breadcrumb a:hover{color:#434240;}
.shaixuan_title{height:40px;line-height:40px;font-size:20px;color:#f53600;font-weight:bold;border-bottom:6px solid #ff9801;padding-left:6px;background:#fff;margin-bottom:10px;}
.shaixuan_content{overflow:hidden;background:#fff;height:auto;margin-bottom:10px;}
.shaixuan_left,.shaixuan_center,.shaixuan_right{float:left;}
.shaixuan_left ul{width:637px;height:56px;border-bottom:1px solid #ebebeb;overflow:hidden;}
.shaixuan_left ul .left_fltitle{max-width:95px;text-align:right;margin-left:0px;margin-right:0px;width:95px;}
.shaixuan_left ul .buxian{width:50px;margin:0px 20px 0px 7px;background:#ff3400;margin-top:15px;display:block;text-align:center;}
.shaixuan_left .buxian a{color:#fff;padding:0px;font-size:16px;}
.shaixuan_left ul li{height:26px;line-height:26px;margin-top:15px; max-width:110px;margin-right:20px;float:left;overflow:hidden;}
.shaixuan_left li a{display:block;line-height:26px;height:26px;width:100%;text-align:center;font-size:16px;color:#514b4f;padding:5px;display:inline;}
.shaixuan_left li a:hover{color:#fff;background:#ff3400;}
.shaixuan_left .last_tiaojian{border-bottom:0px;}
.shaixuan_center{width:305px;height:253px;border-bottom:1px solid #e7e7e7;border-left:1px solid #e7e7e7;border-right:1px solid #e7e7e7;margin-left:5px;margin-top:27px;}
.paihang_title{overflow:hidden;padding-left:25px;font-size:15px;color:#1d1d1d;padding-top:20px;}
.paihang_title ul{float:right;padding-right:50px;overflow:hidden;}
.paihang_title ul li{float:left;margin-left:13px;font-size:14px;color:#5d5d5d;height:14px;width:18px;padding-left:2px;}
.paihang_title li.on,.paihang_title li:hover{border-bottom:1px solid #ff332e; color:#ff332e;}
.paihang_content{background: url(../images/paihang.jpg) no-repeat scroll -1px 0;height: auto;margin-left: 35px;margin-top: 20px;width: auto;}
.paihang_content li{ color: #311e24;font-size: 13px;height: 24px;}
.paihang_content .people {padding-left: 82px;display:block;float:left;}
.paihang_content strong {color: #ff632c;display: block;float: left;padding-left: 60px;font-weight:normal;}
.shaixuan_right{margin-top:40px; overflow:hidden;}
.shaixuan_right p{height:29px;border-bottom:1px solid #e0e0e0;padding-left:18px;color:#413134;font-size:16px;width:233px;}
.shaixuan_right ul{width:auto;margin-left:26px;margin-top:13px;}
.shaixuan_right ul li{height:37px;line-height:37px;font-size:12px;color:#16020b;overflow:hidden;}
.shaixuan_right ul span{display:block;float:right;padding-right:20px;line-height:37px;}
.shaixuan_right ul span i{color:#bc121f;padding-left:10px;font-style:normal;}
.list_background{width:100%;background:#fff;padding-bottom:120px;}
.list_leibie{height:40px;margin-top:30px;overflow:hidden;border-bottom:5px solid #ff9b00;}
.list_leibie li{float:left;margin-right:30px;line-height:40px;font-size:20px;color:#fa3508;}
.list_title li{height:48px;background:#eaeaea;}
.list_title span{display:block;float:left;font-size:15px;color:#32312f;line-height:48px;}
.list_title .b1{width:250px;padding-left:10px;}
.list_title .b2{width:109px;}
.list_title .b3{width:138px;}
.list_title .b4{width:107px;}
.list_title .b5{width:138px;}
.list_title .b6{width:200px;}
.list_title .b7{width:153px;}
.list_list ul li{height:59px;border-bottom:1px solid #eaeaea;background:#f9f9f9;overflow:hidden;}
.list_list li span{display:block;float:left;line-height:59px;font-size:15px;color:#655148;}
.list_list .pro_name{width:215px;margin-right:30px;margin-left:10px;background:url(../images/pro_biaozhi.png) no-repeat 0px 15px;}
.pro_name a{padding-left:45px; color:#655148;}
.list_list li .sp2{width:62px;height:30px;line-height:30px;border-radius:5px;background:#ff9501;color:#fff;text-align:center;margin-top:18px;padding-left:0px;}
.list_list li .sp3{margin-left:52px;width:140px;}.sp4{width:107px;}.sp5{width:135px;}.sp6{width:140px;}.sp7{width:210px;}
/******鎴戣鎶曡祫璇︽儏椤垫牱寮�******/
.detail_bg{width:100%;background:#e5e8ef;}
#detail_breadcrumb{background: none;clear: both;height: 60px;font-size: 12px;color: #333333;margin: 0px;padding:0px;line-height:60px;}
#detail_breadcrumb a,#detail_breadcrumb:hover{font-size: 12px;color: #333333;padding-right:5px;}
.detail_xinxi{width:1200px;margin:0 auto;background:#fff;}
.detail_title{height:69px;border-bottom:1px solid #dfdfdf;border-top:4px solid #fc6838;width:100%;overflow:hidden;line-height:69px;}
.detail_title i{padding-left:40px;font-size:19px;color:#6e6963; font-style:normal;}
.detail_title span{display:block;float:right;padding-right:13px;font-size:15px;color:#666666;}
.detail_xx{width:1180px;height:115px;border-bottom:1px dashed #bbbbbb;margin-top:25px;margin:25px auto 0px auto;overflow:hidden;}
.xx_left,.xx_right{float:left;}
.xx_left p{margin-bottom:0px;}
.xx_left{padding-left:60px;overflow:hidden;}
.xx_left .lest_top{font-size:19px;color:#858585;height:20px;}
.xx_left .lest_bottom{font-size:25px;color:#606060;margin-top:30px;height:25px;}
.xx_left .b1{width:275px;padding-left:37px;}.xx_left .b2{width:245px;}.xx_left .b3{width:240px;}
.lest_bottom .n1{width:310px;}.lest_bottom .n1 i{font-style:normal;color:#f04b11;}.lest_bottom .n3{width:252px;}.lest_bottom .n2{width:250px;}
.xx_left span{display:block;float:left;}
.detail_bot{height:80px;line-height:80px;font-size:15px;color:#8f8f8f;padding-left:68px;overflow:hidden;}
.detail_bot span{display:block;float:left;}
.detail_xx a{width:263px;height:43px;background:#eda515;font-size:20px;text-align:center;line-height:43px;color:#fff;display:block;float:left;margin-top:20px;}
.detail_bot .d1{width:270px;}.detail_bot .d2{width:264px;}.detail_bot .d3{width:225px;position:relative;}.detail_bot .d4{padding-left:100px;}
.d3 .shuju{float:right;}
.d3 .jindutiao{background:#dadada;border-radius: 10px;display: block;height: 13px;top: 34px;left:76px;overflow: hidden;width: 108px;position:absolute;}
.jindutiao i{background:#dd2f2e;display: block;float: left;height: 13px;}
.detail_biaoti{width:1200px;height:59px;border-bottom:1px solid #dfdfdf;background:#fff;margin-top:40px;}
.detail_biaoti li{border-right:1px solid #dfdfdf;padding:0px 53px;line-height:56px;height:56px;font-size:20px;color:#666666;float:left;}
.detail_biaoti li.selected{border-top:3px solid #fb6835;border-right:0px;}
.detail_biaoti li.you_ng{width:16px;height:57px;background:url(../images/you_bg.png) no-repeat;display:none;padding:0px;border-right:0px;border-top:0px;}
.detail_pic{height:775px;background:#fff;overflow:hidden;}
.big_pic{width:925px;height:520px;margin:70px auto 34px auto; background:blue;}
.small_pic{width:905px;height:75px;margin:0 auto;background:#666666;}
.detail_content_bg{height:auto;background:#fff;}
.detail_content{width:1130px;height:auto;margin:0 auto;padding-bottom:50px;padding-top:24px;}
.detail_content p{line-height:24px;font-size:15px;color:#797979;}
/******鍊熸绠＄悊--鍋胯繕涓殑鍊熸*******/
.load_bg{width:100%;background:#f5f6f8;}
#load_breadcrumb{background: none;clear: both;height: 60px;font-size: 17px;color: #212224;margin: 0px;padding:0px;line-height:60px;}
#load_breadcrumb .dangqian{color:#c81f22;}#load_breadcrumb  .divider{padding:0px 7px;}
.load{width:1200px;height:auto;overflow:hidden;}
.load_left{width:185px;height:auto;float:left;border:1px solid #e4e7ec;background:#efefef;}
.load_l_title{height:52px;line-height:52px;color:#555658;font-size:15px;padding-left:60px;border-top:1px solid #ff5d00;background:url(../images/fangzi.png) no-repeat 30px 12px #fff4ee; }
.dalei{color:#767570;height:49px;line-height:49px;font-size:15px;padding-left:60px;margin-bottom:3px;cursor:pointer;}
.load_left ul{width:136px;height:auto;padding-top:2px;padding-left:45px;background:#efefef;}
.load_left ul li{height:37px;background:#e3e3e3}
.load_left li a{display:block;line-height:37px;text-align:center;font-size:12px;color:#5e5e5e;}
.load_left ul .on a,.load_left li a:hover{background:#ff5d00;color:#fff;}
.zhongxin1{background:url(../images/zhongxin1.png) no-repeat 25px 12px #fe5d02;}
.zhongxin{background:url(../images/zhongxin.png) no-repeat 25px 12px #fff4ee;}
.touzi{background:url(../images/touzi.png) no-repeat 25px 12px #fff4ee;}
.touzi1{background:url(../images/touzi1.png) no-repeat 25px 12px #fe5d02;}
.jiekuan{background:url(../images/jiekuan.png) no-repeat 25px 12px #fff4ee;}
.jiekuan1{background:url(../images/jiekuan1.png) no-repeat 25px 12px #fe5d02;}
.jiben{background:url(../images/jiben.png) no-repeat 25px 12px #fff4ee;}
.jiben1{background:url(../images/jiben1.png) no-repeat 25px 12px #fe5d02;}
.load_left .on{color:#fff;}
.load_right{float:right;width:1002px;height:auto;overflow:hidden;}
.load_right p.da_title{height:64px;line-height:64px;border:1px solid #e4e7ec;font-size:17px;color:#494949;padding-left:54px;background:url(../images/title_bg.png) no-repeat 17px 22px;margin:0px;}
.load_mingxi{height:auto;border:1px solid #e4e7ec;background:#fff;overflow:hidden;padding-bottom:14px;}
.load_mingxi ul{width:1000px;height:37px;border-bottom:2px solid #f78218;margin-top:7px;}
.load_mingxi ul li{float:left;line-height:37px;padding:0 30px;border-right:1px solid #eaeaea;border-top:1px solid #eaeaea;font-size:14px;color:#474546;cursor:pointer;}
.load_mingxi ul li:hover{background:#f88218;color:#fff;}
.load_right form.form-inline{width:600px;height:30px;margin:25px auto;}
.load_right form .btn{width:80px;height:30px;background:#46a9e0;color:#fff;font-size:12px;line-height:30px;text-align:center;margin:0px;padding:0px;letter-spacing:5px;}
.load_right form input[type="text"]{width:109px;height:14px;line-height:14px;padding-left:0px;}
.load_mingxi .table{width:100%;height:auto;background:#f4f4f4;margin-bottom:0px;}
.load_mingxi .table thead{border-bottom:1px solid #d2d2d2;height:26px;line-height:26px;font-size:12px;color:#010101;}
.load_mingxi .table thead th,.load_mingxi .table tbody td{text-align:center;}
.load_mingxi .table tbody tr{width:100%;height:48px;line-height:48px;border-bottom:1px dashed #d1d1d1;}
.fenye{width:370px;height:40px;margin:0px auto;}
.fenye a{display:block;line-height:40px;padding-right:32px;font-size:12px;color:#5a585b;float:left;}
.fenye span{line-height:40px;font-size:12px;color:#5a585b;}
.fenye span i{font-style:normal;color:#82a500;}

/******鍊熸绠＄悊--棰濆害璁板綍*******/
.butong{width:100%;height:40px;background:#fff;}
.butong p{background:#f77d16;margin:9px 0px 25px 0px;height:30px;line-height:30px;font-size:12px;color:#fff;padding-left:9px;}
.wxtishi{width:986px;height:44px;background:#fdeee7;margin:27px auto 0px auto;}
.wxtishi .span1{color:#5a5655;padding-left:10px;}.wxtishi .span2{color:#666261;padding-left:22px;}.wxtishi span{font-size:12px;line-height:44px;width:auto;display:inline;margin-left:0px;}
/******鍊熸绠＄悊--棰濆害鐢宠*******/
.butong p span{color:#ff0d08;}
.load_mingxi form.shenqing{padding-left:28px;width:auto;height:auto;margin:0;overflow:hidden;}
.load_mingxi form.shenqing .control-group{margin-bottom:10px;}
.load_mingxi form.shenqing .controls{margin-left:0px;}
.load_mingxi form.shenqing .control-label{width:118px;font-size:12px;text-align:right;padding-right:19px;color:#656563;overflow:hidden;}
.load_mingxi form.shenqing .control-label span{margin-top:20px;display:block;}
.load_mingxi form.shenqing select{width:200px;height:28px;line-height:28px; color:#656563;}
.load_mingxi form.shenqing input[type="text"]{width:200px;height:28px;line-height:28px;border:1px solid #28a0dc;}
.load_mingxi form.shenqing textarea{width:255px;}
.load_mingxi form.shenqing .btn{width:88px;height:30px;margin-left:208px;text-align:center;line-height:30px;color:#fff;font-size:14px;background:#ff7302;margin-top:8px;letter-spacing:5px;}

/******鎶曡祫绠＄悊--鍏呭�*******/
.zhifu_title,.zhifu_fangshi{width:989px;margin:0px auto;border-bottom:1px dashed #dfdfdf;overflow:hidden;}
.zhifu_title .title{font-size:16px;color:#515554;background:url(../images/xxjiantou.png) no-repeat 13px 13px;padding-left:28px;padding-top:13px;height:32px;line-height:32px;}
.zhifu_fangshi .title{font-size:16px;color:#515554;background:url(../images/xxjiantou.png) no-repeat 0px 13px;margin-left:13px;width:80px;padding-left:16px;margin-top:60px;height:32px;line-height:32px;display:block;float:left;}
.zhifu_fangshi form{float:left;width:auto;height:auto;}
.zhifu_fangshi form ul{overflow:hidden;}
.zhifu_fangshi form ul li{float:left;margin-right:40px;}

/******鎶曡祫绠＄悊--鎻愮幇*******/
.tishi1{width:986px;height:auto;background:#fdeee7;margin: 0px auto;overflow:hidden;}
.tishi1 .p1{color:#5a5655;margin-left:10px;float:left;}
.tishi1 .p2{color:#666261;margin-left:22px;float:left;margin-left:0px;width:895px;}
.tishi p{line-height:22px;font-size:12px;}
/******鎶曡祫绠＄悊--鎴戠殑鎶曟爣*******/
.form-inline select{width:155px;height:28px;}
/******鎶曡祫绠＄悊--淇℃伅瀹℃牳娴佺▼姝ｅ父璧版彁鐜伴〉*******/
.load_mingxi .tixianye{padding-left:235px;padding-top:60px;margin:0px;width:auto;height:auto;}
.load_mingxi .tixianye .control-group{margin-bottom:30px;height:30px;line-height:30px;}
.load_mingxi .tixianye .control-group i{color:#ff003d;font-size:14px;font-style:normal;}
.load_mingxi .tixianye .control-group a{color:#0001fd;font-size:14px;cursor:pointer;}
.load_mingxi .tixianye .tianxiezhanghao{padding-left:118px;color:#fd0006;font-size:14px;padding-bottom:23px;}
.load_mingxi .tixianye .tianxiezhanghao a{color:#0001fd;}
.load_mingxi .tixianye input[type="text"]{width:200px;height:28px;}
.load_mingxi .tixianye .tixi_money{margin-left:0px;padding-left:0px;}
.load_mingxi .tixianye .control-label{width:100px;font-size:14px;text-align:right;padding-right:19px;color:#656563;overflow:hidden;height:30px;line-height:20px;}

.fenye_bg{width:100%;height:40px;background:#f4f4f4;margin-top:14px;margin-bottom:40px;}

/******鍩烘湰淇℃伅--閭�绠＄悊*******/
.yaoqing_biao{width:949px;margin:27px auto 0px auto;}
.yaoqing_biao ul{border:1px solid #e9eaec;width:947px;height:32px;margin-top:0px;}
.yaoqing_biao ul.yaoqing_title{background:#f5f6fa;}
.yaoqing_biao ul li{border-right:1px solid #e9eaec;float:left;width:315px;height:32px;line-height:32px;font-size:12px;color:#60676d;text-align:center;padding:0px;}
.yaoqing_biao ul li:hover{background:none;color:#60676d;cursor:text;}
.yaoqing_biao .load_mingxi{background:#f5f6fa;}
.yaoqing_biao .fenye{height:32px;width:947px;border:1px solid #e9eaec;border-top:0px;}
.yaoqing_biao .fenye span{display:block;width:220px;font-size:12px;margin:0 auto;color:#686763;overflow:hidden;}
.yaoqing_biao .fenye span form{float:left;width:40px;height:20px;margin:0;}
.yaoqing_biao .fenye  form select{width:40px;padding:0px;}
.yaoqing_biao .fenye span a{font-size:12px;color:#686763;margin:0px 3px;display:block;float:left;padding:0px;}
.yaoqing_biao .fenye span i{font-size:12px;color:#686763;display:block;float:left;}

/******鍩烘湰淇℃伅--瀵嗙爜閲嶈*******/
.top_tishi{width:988px;height:35px;margin:16px auto 35px auto;background:#fdf8e4;border-radius:5px;line-height:35px;}
.botm_tishi{width:988px;height:35px;margin:36px auto 60px auto;background:#fdf8e4;border-radius:5px;line-height:35px;}
.sp1{font-size:12px;padding-left:13px;color:#ef8402;}
.sp2{font-size:14px;padding-left:32px;color:#fc0108;}
.load_mingxi .mima_chongshe{width:auto;height:auto;margin:0px;padding-left:50px;}
.mima_chongshe .control-label{width:70px;padding-right:20px;font-size:14px;color:#888783;}
.mima_chongshe .control-group{margin-bottom:25px;}
.mima_chongshe .controls input[type="text"],.mima_chongshe .controls input[type="password"]{width:200px;height:30px;border:1px solid #707072;line-height:30px;padding-left:0px;border-radius:0px;}
.mima_chongshe .controls{margin-left:0px;}
.mima_chongshe .controls #new_mima{border:1px solid #279fdb;}
.load_mingxi .mima_chongshe .btn{width:88px;height:30px;border-radius:5px;line-height:30px;text-align:center;margin-left:119px;background:#ff7300;font-size:14px;color:#fff;letter-spacing:5px;}
.load_mingxi .mima_chongshe .btn{margin-left: 120px;width: 90px;height: 30px;background: #ff7300;color: #fff;font-size: 12px;line-height: 30px;text-align: center;padding: 0px;border-radius: 20px;border:0px;letter-spacing:5px;}
/******鍩烘湰淇℃伅--宸ヤ綔鍗曚綅*******/
.load_mingxi .work_danwei{margin-left:125px;overflow:hidden;width:auto;height:auto;margin-top:0px;border:0px;}
.load_right form{width:auto;height:auto;margin:0px;}
.load_mingxi .work_left,.load_mingxi .work_right{width:350px;float:left;border-right:0px;padding:0px;border-top:0px;}
.load_mingxi .work_left:hover,.load_mingxi .work_right:hover{cursor:text;background:none;}
.work_left .controls .control-group,.work_right .controls .control-group{margin-bottom:25px;}
.work_left .controls,.work_right .controls{margin-left:0px;}
.work_left .control-label,.work_right .control-label{width:77px;padding-right:15px;font-size:14px;color:#888783;padding-top:10px;}
.work_danwei .work_left .controls input,.work_danwei .work_right .controls input{padding-left:0px;border-radius:0px;width:200px;height:30px;line-height:30px;}
.clear{clear:both;}
.load_mingxi .work_danwei .btn{width:88px;height:30px;border-radius:5px;line-height:30px;text-align:center;margin-left:300px;margin-top:10px;background:#ff7300;font-size:14px;color:#fff;letter-spacing:5px;}

/******鍩烘湰淇℃伅--鏇存崲澶村儚*******/
.touxiang{overflow:hidden;margin:5px 0px 10px 103px;}
.tx_left{float:left;width:196px;height:196px;border:2px solid #e2e2e2;margin:12px 58px 0px 0px;}
.tx_right{width:425px;height:227px;background:url(../images/tx_bg.png);float:left;position:relative;}
.tx_right a{display:block;width:170px;height:44px;position:absolute;left:133px;}
.tx_right .xuanzepic{top:57px;}.tx_right .paizhao{top:128px;}

/******鍩烘湰淇℃伅--缁戝畾椤�******/
ul.bangding{margin-left:38px;width:712px;height: auto;border-bottom:0px;margin-top: 7px;}
ul.bangding li{border-bottom:1px solid #eaeaea;height:50px;border-top:0px;float:none;border-right:0px;padding:0px;}
ul.bangding li:hover{background:none;cursor:text;}
ul.bangding li span.bd_xiang{width:105px;}
ul.bangding li span.bd_zhuangtai{color:#e68d00;}
ul.bangding li span{float:left;display:block;line-height:50px;font-size:12px;color:#343432;}
ul.bangding li a{display:block;float:right;padding-right:80px;line-height:50px;font-size:12px;color:#754a05;}
/******鍩烘湰淇℃伅--ip鏌ヨ*******/
.load_mingxi .ipchaxun{margin-left:50px;width:711px;background:#fff;}
.load_mingxi .ipchaxun tbody tr{height:30px;}
.load_mingxi .ipchaxun tbody tr .wang{color:#455c9f;}
.ipchaxun th,.ipchaxun td{text-align:center;font-size:12px;color:#686463;height:30px;line-height:30px;padding:0px;}
.ipchaxun .f1{width:283px;}
.ipchaxun .f2{width:188px;}
.ipchaxun .f3,.ipchaxun .f4{width:118px;}
.fenye1 span{width:250px;display:block;overflow:hidden;margin:10px auto 0px auto;height:40px;}
.fenye1 span i,.fenye1 span a{display:block;line-height:40px;font-size:12px;float:left;font-style:normal;color:#565553;}
.fenye1 span a{padding:0px 4px;}
.fenye1 span form{float:left;width:50px;height:25px;margin-top:5px;}
.fenye1 span form select{width:50px;height:25px;line-height:25px;font-size:12px;}
.fenye1 span form select option{height:25px;line-height:25px;font-size:12px;}

/******鍩烘湰淇℃伅--涓汉鍩烘湰淇℃伅*******/
.ones_xinxi{margin:35px 0px 0px 30px;overflow:hidden;}
.ones_xinxi .ones_left{float:left;margin-right:98px;width:140px;}
.ones_left img{width:120;height:120px;border:1px solid #d6e0e1;}
.ones_left a{display:block;width:89px;height:27px;border:1px solid #1a97eb;text-align:center;line-height:27px;font-size:12px;color:#69665f;margin-left:10px;border-radius:5px;}
.ones_left span{display:block;width:100%;height:auto;font-size:12px;color:#323733;line-height:28px;}
.ones_xinxi .ones_right{float:left;width:430px;height:360px;}
.ones_xinxi .ones_right ul{margin:0px;width:430px;border-bottom:0px;}
.ones_xinxi .ones_right ul li{border-top:0px;float:none;border-right:0px;padding:0px;height:43px;overflow:hidden;}
.ones_xinxi .ones_right ul li:hover{background:none;cursor:text;}
.ones_xinxi .ones_right  li span{display:block;float:left;font-size:14px;color:#323234;}
.ones_xinxi .ones_right  li .wen{width:77px;text-align:right;margin-right:10px;}
.ones_xinxi .ones_right  li .wen img{margin-top:-10px;}
.ones_xinxi .ones_right li a{display:block;float:right;padding-left:20px;background:url(../images/xx.png) no-repeat 0px 13px;font-size:14px;color:#323234;}

/******鍩烘湰淇℃伅--鍙戜俊鎭�******/
.load_mingxi .mingxi_biaoti{width:100%;height:38px;background:#c1d9f3;margin-top:0px;border-bottom:0px;}
.load_mingxi .mingxi_biaoti li{float:left;margin-left:5px;height:31px;line-height:31px;margin-top:7px;padding:0px 28px;font-size:12px;color:#fffcff;background:#ff7383;}
.load_mingxi .mingxi_biaoti li:hover{background:#4bd194;}
.load_mingxi .faduanxin{margin-left:102px;overflow:hidden;width:auto;height:auto;clear:both;margin-top:20px;}
.load_mingxi .faduanxin .control-group{margin-bottom:25px;}
.load_mingxi .faduanxin .control-label{width:60px;text-align:right;font-size:14px;color:#888689;margin-right:18px;}
.load_mingxi .faduanxin .controls{margin:0px;padding:0px;font-size:14px;color:#52555a;overflow:hidden;}
.load_mingxi .faduanxin .controls input[type="text"]{width:200px;height:30px;line-height:30px;float:left;}
.load_mingxi .faduanxin .controls textarea{width:318px;height:98px;}
.load_mingxi .faduanxin .btn{width:85px;height:30px;line-height:30px;background:#eb544b;font-size:12px;color:#fff;text-align:center;margin-left:85px;letter-spacing:5px;}
.load_mingxi .faduanxin .controls a{width:auto;height:auto;margin-left:5px;float:left;;display:block;}
/******鍩烘湰淇℃伅--鎺ㄨ崘鐢宠*******/
.wenzishuoming{margin:28px 0px 0px 28px;width:auto;font-size:12px;color:#4f524b;height:auto;overflow:hidden;}
.wenzishuoming a{display:block;width:85px;height:30px;border-radius:5px;text-align:center;line-height:30px;font-size:14px;color:#fcfef9;background:#eb544b;}
/******鍩烘湰淇℃伅--鎺ㄨ崘鐢宠绗竴姝ャ�绗簩姝�******/
.wenzishuoming a.sq1{background:#ff7300;float:right;margin-right:600px;}
/******鍩烘湰淇℃伅--鎺ㄨ崘鐢宠绗笁姝�******/
.tuijianma{margin-left:115px;margin-top:35px;overflow:hidden;}
.tuijianma_left{width:710px;float:left;}
.tuijianma_left span{height:38px;width:708px;background:#f6f6f6;display:block;line-height:38px;border:1px solid #e5e5e5;text-indent:26px;font-size:14px;color:#4c4c4c;}
.tuijianma_left .sq_lj{width:708px;height:118px;border:1px solid #f3f0e9; background:#fffaea;}
.tuijianma_left .sq_lj p{text-indent:35px;padding-left:26px;font-size:12px;color:#75706c;width:465px;line-height:28px;border:0px;height:auto;margin-bottom:0px;}
.tuijianma_left .sq_lj p.lj{padding-left:26px;text-indent:0px;line-height:28px;background:none;border-bottom:0px;margin-top:-6px;}
.tuijianma a{display:block;width:88px;height:30px;border-radius:5px;background:#ff7300;font-size:12px;color:#fffffb;line-height:30px;text-align:center;float:left;margin-left:25px;margin-top:63px;}

/******鍩烘湰淇℃伅--閾惰鍗�******/
.load_mingxi .xinhangka{margin:0px;padding:0px;width:auto;height:auto;border-bottom:0px;}
.load_mingxi .xinhangka li{width:222px;height:122px;margin:18px 0px 50px 30px;padding:0px;border:0px;}
.load_mingxi .xinhangka li:hover{background:none;}
.load_mingxi .xinhangka li a{display:block;width:100%;height:100%;}
/******鍩烘湰淇℃伅--璧勯噾璁板綍*******/
.fy_bg{width:1000px;height:40px;background:#fff;}
.zj_mingxi {width:auto;height:auto;overflow:hidden;background:#fff;margin-bottom:20px;}
.zj_left{width:210px;height:175px;float:left;overflow:hidden;}
.zj_left p{width:90px;text-align:center;margin-left:75px;margin-top:65px;font-size:17px;color:#515757;padding:0px;background:none;border:0px;line-height:25px;}
.zj_left p span{color:#e8a14f;}
.zj_right{float:left;height:150px;margin-top:10px;background:#ffe0d1;width:775px;overflow:hidden;}
.zj_right li.da_li{width:169px;border-left:1px dashed #e26932;}.zj_right li.caozuozu{width:140px;border-left:1px dashed #e26932;}.zj_right li{float:left;width:121px;height:80px;margin-top:35px;}
.zj_right li p{border:0px;line-height:40px;padding:0px;background:none;font-size:12px;color:#545655;margin-left:30px;}
.zj_right li p span{color:#1e56e1;}
.zj_right li.da_li p{margin-left:77px;}
.zj_right li.da_li p{margin-left:77px;}
.zj_right li.caozuozu a{display:block;margin-left:43px;width:70px;height:40px;line-height:40px;font-size:12px;color:#fbffff;text-align:center;margin-top:8px;}
.zj_right li.caozuozu a.chongzhi{background:#2ea7e0;}.zj_right li.caozuozu a.tixian{background:#eb8c22;}

/******鍩烘湰淇℃伅--璁よ瘉涓績*******/
.renzheng_money{width:740px;height:30px;margin:11px auto 20px auto;background:#f75f16;overflow:hidden;}
.renzheng_money span{display:block;font-size:12px;color:#fcffff;line-height:30px;float:left;}
.renzheng_money span.s1{padding-left:10px;width:207px;}.renzheng_money span.s2{width:157px;}
.load_mingxi .renzheng_biao{width:738px;height:auto;margin:0 auto;background:#fff;}
.load_mingxi .renzheng_biao thead .th1{width:200px;}.renzheng_biao thead .th2{width:267px;}.renzheng_biao thead .th3,.renzheng_biao thead .th4{width:134px;}
.load_mingxi .renzheng_biao thead th,.renzheng_biao tbody td{height:39px;line-height:39px;text-align:center;font-size:12px;color:#57585c;}
.load_mingxi .renzheng_biao .th3 span{display:block;background:#ea8d23;margin:10px auto;width:56px;height:20px;line-height:20px;text-align:center;color:#fff;}
.load_mingxi .renzheng_biao td.th1{vertical-align:inherit;}

/******鍩烘湰淇℃伅--鏀硅处鎴�******/
.load_mingxi .xinxi_left{float:left;width:799px;border-right:1px solid #dedce9;height:auto;padding-bottom:30px;overflow:hidden;}
.xinxi_left .mohu{width:763px;height:50px;border-bottom:1px solid #f0f0f0;overflow:hidden;margin:14px 0px 0px 20px;}
.xinxi_left .mohu span{line-height:50px;font-size:17px;color:#625e5d;}
.xinxi_left .mohu span a{color:#017cc9;font-size:12px;padding-left:5px;}
.xinxi_left .mohu span i{font-style:normal;color:#625e5d;font-size:12px;}
.xinxi_left .mohu span.mohu_money{display:block;float:right;padding-right:140px;}
.xinxi_left .mohu span.mohu_money i{font-size:17px;color:#fe5200;}
.load_mingxi .xinxi_left .xingxi{overflow:hidden;width:763px;height:auto;margin-left:20px;margin-top:15px;}
.xinxi_left .xingxi .xingxi_left{float:left;width:110px;overflow:hidden;}
.xinxi_left .xingxi_left img{width:110px;height:110px;border:1px solid #f2f2f2;}
.xinxi_left .xingxi_left a{margin:8px auto 0px auto;width:86px;height:28px;line-height:28px;text-align:center;font-size:12px;color:#e4e4e4;display:block;background:#a2a2a2;}
.xinxi_left .xingxi .xingxi_middle{float:left;margin-left:28px;margin-top:15px;overflow:hidden;}
.xingxi .xingxi_middle .middle_dengji{width:242px;height:37px;border-bottom:1px dashed #d8d8d8;overflow:hidden;}
.xingxi  .middle_dengji span{display:block;float:left;padding-top:2px;font-size:12px;color:#5e5e5e;overflow:hidden;width:100px;}
.xingxi  .middle_dengji span.dengji_right{float:right;}
.clear{clear:both;}
.middle_an{margin:14px 0px 23px 0px; overflow:hidden;}
.middle_an a{display:block;float:left;width:73px;height:32px;border-radius:3px;line-height:32px;text-align:center;font-size:12px;color:#fefefe;}
.middle_an a.chong{background:#70b929;}.middle_an a.ti{background:#0f9ce1;margin-left:22px;}
.xingxi .xingxi_middle .anniuzu{width:211px;height:40px;background:url(../images/anniuzu.png) no-repeat;position:relative;}
.xingxi .xingxi_middle .anniuzu a{position:absolute;width:38px;height:40px;display:block;top:0px;}
.xingxi_middle .anniuzu .anniu1{left:0px;}.xingxi_middle .anniuzu .anniu2{left:43px;}.xingxi_middle .anniuzu .anniu3{left:86px;}.xingxi_middle .anniuzu .anniu4{left:130px;}.xingxi_middle .anniuzu .anniu5{left:174px;}
.xinxi_left .xingxi_right{float:left;margin:20px 0px 0px 40px;overflow:hidden;}
.xinxi_left .xingxi_right .right_one,.xinxi_left .xingxi_right .right_two{width:300px;height:60px;overflow:hidden;}
.xinxi_left .xingxi_right .right_one{background:#e7faff;}
.xinxi_left .xingxi_right .right_two{background:#e8ffe2;margin-top:10px;}
.xinxi_left .xingxi_right .right_one p,.xinxi_left .xingxi_right .right_two p{line-height:20px;font-size:12px;color:#5d5e62;float:left;margin-left:10px;margin-top:10px;}
.xinxi_left .xingxi_right .right_one p.right_p,.xinxi_left .xingxi_right .right_two p.right_p{margin-left:0px;float:right;padding-right:80px;}
.load_mingxi .xinxi_right{float:left;margin:35px 0px 0px 37px;overflow:hidden;width:120px;height:auto;}
.load_mingxi .xinxi_right span{font-size:12px;color:#343539;}
.load_mingxi .xinxi_right ul{border-bottom:0px;background:url(../images/kuaijie.png) no-repeat;margin-top:22px;width:120px;height:auto;}
.load_mingxi .xinxi_right ul li{height:37px;float:none;line-height:21px;padding:0px;border-right:0px;border-top:0px;}
.load_mingxi .xinxi_right ul li:hover{background:none;color:#565455;}
.load_mingxi .xinxi_right li a{display:block;font-size:14px;color:#565455;padding-left:32px;}
.second,.third{margin-top:14px;}
.second .load_mingxi{padding:8px 0px;width:auto;height:auto;overflow:hidden;}
.sec_one,.sec_two,.sec_three{width:324px;height:235px;float:left;}
.sec_one{background:#1bb8e3;margin:0px 7px;}.sec_two{background:#ffa200;margin-right:7px;}.sec_three{background:#ff5100;}
.sec_title{height:40px;overflow:hidden;margin-bottom:0px;}
.sec_title span{padding-left:22px;line-height:40px;font-size:17px;color:#fcfef9;}.sec_title i{display:block;float:right;padding-right:22px;font-style:normal;line-height:40px;font-size:17px;color:#fcfef9;}
.load_mingxi ul.list_biao{width:322px;height:193px;margin:0 auto;background:#fff;border-bottom:0px;}
.load_mingxi ul.list_biao li{float:none;height:32px;padding:0px;border-right:0px;border-top:0px;line-height:32px;cursor:text;}
.load_mingxi ul.list_biao li:hover{background:none;}
.load_mingxi ul.list_biao li span{padding-left:23px;font-size:12px;color:#707175;}
.load_mingxi ul.list_biao li i{display:block;float:right;padding-right:25px;color:#e17376;font-size:12px;font-style:normal;}
.third_left{float:left;width:499px;border-right:1px solid #dcdcdc;background:#fff;}
.third_title{height:40px;width:400px;margin:20px auto 0px auto;border-bottom:1px dashed #ebebeb}
.third_title span{line-height:40px;font-size:15px;color:#4f5759;padding-left:6px;}
.third_title a{display:block;float:right;padding-right:8px;font-size:12px;color:#85a400;line-height:60px;}
.third_left ul,.third_right ul{padding-bottom:25px;width:400px;height:auto;border-bottom:0px;overflow:hidden;margin-left:45px;margin-top:11px;}
.third_left ul li,.third_right ul li{margin-top:19px;cursor:text;padding:0px;border-right:0px;border-top:0px;line-height:20px;float:none;}
.third_left ul li:hover,.third_right ul li:hover{background:none;}
.third_left ul li a,.third_right ul li a{font-size:13px;color:#56555b;}
.third_right{width:500px;float:left;background:#fff;}
.third .load_mingxi{background:#f5f6f8;}

/******鍩烘湰淇℃伅--缁戝畾椤甸潰灞曠ず椤�******/
.bangdingzs{margin-left:40px;margin-top:15px;overflow:hidden;}
.load_mingxi .bangdingzs_one,.load_mingxi .bangdingzs_two,.load_mingxi .bangdingzs_three{width:710px;height:auto;margin:0px;padding:0px;border-bottom:0px;}
.load_mingxi .bangdingzs_one li,.load_mingxi .bangdingzs_two li,.load_mingxi .bangdingzs_three li{padding:0px;height:50px;width:710px;border-bottom:1px solid #ebebeb;float:none;line-height:50px;overflow:hidden;border-top:0px;border-right:0px;}
.load_mingxi .bangdingzs_one li:hover,.load_mingxi .bangdingzs_two li:hover,.load_mingxi .bangdingzs_three li:hover{background:none;cursor:text;color:#313237;}
.load_mingxi .bangdingzs_one li.wuxiahua{border-bottom:0px;}
.load_mingxi .bangdingzs_one li span,.load_mingxi .bangdingzs_two li span,.load_mingxi .bangdingzs_three li span{line-height:50px;font-size:14px;color:#313237;}
.load_mingxi .bangdingzs_one li span.bangdingzs_nr,.load_mingxi .bangdingzs_two li span.bangdingzs_nr,.load_mingxi .bangdingzs_three li span.bangdingzs_nr{width:105px;display:block;float:left;}
.load_mingxi .bangdingzs_one li span.weishezhi,.load_mingxi .bangdingzs_two li span.weishezhi,.load_mingxi .bangdingzs_three li span.weishezhi{color:#e38b00;}
.load_mingxi .bangdingzs_one li a,.load_mingxi .bangdingzs_two li a,.load_mingxi .bangdingzs_three li a{font-size:14px;color:#784905;padding-right:80px;display:block;float:right;}
.bangdingzs .zhanshi_from .control-label{width:100px;margin-top:15px;margin-left:170px;padding-top:0px;}
.bangdingzs .zhanshi_from .controls input[type="text"],.bangdingzs .zhanshi_from .controls input[type="password"]{width:200px;height:26px;line-height:26px;background:#fff9ec;border-radius:0px;padding:0px;}
.bangdingzs .zhanshi_from .btn{width:90px;height:30px;background:#ff7300;font-size:14px;color:#fff9f9;text-align:center;line-height:30px;margin-left:270px;border-radius:20px;letter-spacing:5px;}
.load_mingxi ul.bangdingzs_two,.load_mingxi ul.bangdingzs_three{margin-top:20px;border-top:1px solid #ebebeb;}

/******鍩烘湰淇℃伅--鍏呭�*******/
.load_mingxi .chongzhi_form{width:1000px;height:auto;margin:0px;padding:0px;}
.zhifufangshi,.zhifu_money{width:1000px;height:auto;overflow:hidden;}
.chongzhititle{height:50px;width:988px;margin:12px auto 0px auto;border-bottom:1px dashed #dedede;background:url(../images/xxjiantou.png) no-repeat 19px 22px;padding:0px;}
.chongzhititle span{padding-left:37px;line-height:50px;font-size:15px;color:#545651;}
.zhifufangshi ul{margin-left:114px;border-bottom:0px;margin-top:5px;overflow:hidden;}
.zhifufangshi ul li{padding:0px;float:left;margin-right:35px;overflow:hidden;width:auto;height:auto;}
.zhifufangshi ul li:hover{background:none;}
.zhifufangshi li .radio input[type="radio"]{margin-top:10px;}
.chongzhi_form .chongzhi_money .control-group{height: 40px;margin-left: 80px;margin-bottom: 10px;line-height: 40px;}
.chongzhi_form .control-group .control-label{float: left;width: 105px;text-align: right;height: 40px;line-height: 40px;padding-top:0px;}
.chongzhi_form .control-group .controls{line-height: 40px;height: 40px;margin-left: 110px;}
form.chongzhi_form .controls input[type="text"] {width: 130px;height: 20px;line-height: 20px;padding-left: 0px;margin-right:10px;}
.chongzhi_form .chongzhi_money .btn{width:76px;height:30px;line-height:30px;text-align:center;font-size:12px;color:#fcffff;margin:35px 0px 30px 105px;background:#eb8c22;letter-spacing:5px;}
.chongzhi_form .chongzhi_money hr{margin:0px 10px;height: 1px;background: #dddddd;margin: 20px 10px;border-top: 0px;border-bottom: 0px;}
.biankuang{border:1px solid #bfbfbf;padding:10px 0px 30px 0px;}

/******鍩烘湰淇℃伅--娣诲姞鑷姩鎶曟爣*******/
.load_right .add_auto{width:auto;height:auto;margin-left:157px;margin-top:28px;}
.load_right .add_auto h3{background:url(../images/little_title.png) no-repeat 0px 0px;height:14px;line-height:14px;font-size:14px;color:#525252;font-weight:bold;padding-left:18px;}
.load_right .add_auto .control-group{margin-bottom:15px;}
.load_right .add_auto .control-label{width:100px;padding:0px;margin:0px 10px 0px 0px;color:#565658;font-size:14px;}
.load_right .add_auto .controls{margin-left:0px;height:20px;line-height:20px;font-size:14px;color:#565658;padding-left:40px;}
.load_right .add_auto .controls input[type="checkbox"]{margin:-2px 5px 0px 0px;border-radius:0px;}
.load_right .add_auto h4{font-size:14px;color:#565658;font-weight:normal;margin:0px 0px 15px 110px;}
.load_right .add_auto .controls label{font-size:14px;color:#565658;height:20px;line-height:20px;padding-top:0px;}
.load_right .add_auto .controls label input[type="text"]{width:80px;line-height:15px;height:15px;border-radius:0px;}
.load_right .add_auto ol{margin:0px 0px 0px 110px;}
.load_right .add_auto ol li{height:20px;line-height:20px;margin-bottom:15px;color:#ff0402;font-size:14px;}
.load_right .add_auto .controls select.da_select{width:120px;height:20px;line-height:20px;padding:0;border-radius:0px;}
.load_right .add_auto .controls select.xiao_select{width:90px;height:20px;line-height:20px;padding:0px;border-radius:0px;}
.load_right .add_auto .controls select{width:40px;height:18px;line-height:18px;padding:0px;border-radius:0px;}
.load_right .controls input.little_text{width:50px;height:15px;line-height:15px;padding:0px;border-radius:0px;}
.load_right .add_auto .controls .jiekuanqixian input[type="radio"]{margin-left:0px;}
.load_right .add_auto .controls .bixu{padding-left:0px;height:20px;line-height:20px;}
.load_right .add_auto .controls .bixu input[type="checkbox"]{margin-top:4px;}
.load_right .add_auto .btn,.load_right .add_auto .btn1{border:0px;width:80px;height:30px;line-height:30px;text-align:center;background:#e07d46;color:#fafffe;font-size:12px;letter-spacing:5px;margin-bottom:45px;padding:0px;border-radius:0px;}
.load_right .add_auto .btn{margin-left:275px;}
.load_right .add_auto .btn1{margin-left:4px;}

.load_right .yincang{display:none;float:left;margin-left:0px;}
.load_right .yincang input[type="text"],.load_right .yincang input[type="password"]{width:170px;height:20px;line-height:20px;padding-left:0px;margin-top:10px;}
.load_right .bangding .btn,.load_right .ones_right form .btn{margin-left: 120px;width: 90px;height: 30px;background: #ff7300;color: #fff;font-size: 14px;line-height: 30px;text-align: center;padding: 0px;border-radius: 20px;border:0px;letter-spacing:5px;margin-top:20px;}
