@charset "utf-8";

/*我要借款 */
input{border:1px solid #ccc; border-radius:3px;vertical-align:middle;outline:none; height:35px;}
textarea,dt{border-radius:3px;}
.bid_content{ width:100%; height:auto; background:#f6f6f6;}
.guide{ width:1180px;line-height:30px; font-size:14px;}
.bid_title{ width:1158px;line-height:45px; height:45px; background:#fff; color:#f59b3b; padding-left:20px; font-size:19px; margin-top:8px; margin-bottom:15px; border:1px solid #ddd; }
.bid_kind{overflow:hidden; width:1140px; padding:30px 20px; background:#fff; margin-bottom:15px; border:1px solid #ddd;   }
.bid01{overflow:hidden; clear:both;width:1140px; height:auto; float:left;border:1px solid #ddd; padding:10px 0; margin:10px 0; }
.bid01_img{ width:112px; float:left; padding:25px 20px ; text-align:center;}
.bid01_img span{ line-height:30px; font-size:15px;}
.bid01_js{ width:780px; float:left; padding-right:15px;margin-top:25px; border-right:1px solid #ddd;}
.bid01_js p{ width:780px; float:left; line-height:28px; font-size:14px; }
.bid_info{width:780px; float:left;padding-top:10px;}
.bid_info li{width:255px; float:left; line-height:28px; font-size:14px;}
.pub_btn{ width:140px; float:left; margin-left:25px; margin-top:80px; display:inline;}
.pub_sub{font:18px/38px "Microsoft YaHei";width:140px;height:38px; background: #f58500;color:#fff;cursor:pointer;margin:0 auto;; border:0;border-radius:3px}
.pub_sub:hover{background:#8462EF;}


/*发布贷款*/
.borrow_info{width:1178px; padding:10px 0px; background:#fff; margin:15px 0; border:1px solid #ddd;   }
.borrow_title{width:1178px; line-height:45px; border-bottom:1px solid #ddd;overflow:hidden}
.borrow_title h3{width:110px;  border-bottom:3px solid #006ac7;float:left; padding-left:15px; text-align:center; font-size:20px;  color:#0066cc;}
.borrow_nr{ float:left; padding:10px 30px; width:1120px; }
.info_w{ width:1118px; float:left; }
.info_w span{width:1118px;  float:left; line-height:35px;font-size:18px; margin-top:25px; font-style:normal;  color:#0066cc; }
.write_form,.reward_form{width:1118px;  float:left; padding:15px 0; border-bottom:1px solid #ddd;}
.write_form div{width:550px;  float:left; padding:10px 0;}
.write_form div .title,.detail_form div .title{width:140px;  float:left; padding-right:10px; text-align:right; line-height:40px; font-size:14px;}
.write_form div input:hover,.detail_form div input:hover,.reward_form p input:hover{border:1px solid #0095eb;}
.detail_form div textarea:hover{border:1px solid #0095eb;}


/*表单下拉列表框*/
#uboxstyle {  width:189px;padding:0;}
#uboxstyle .select_box{width:189px;height:37px; padding:0; }
#uboxstyle div.tag_select{display:block;color:#666;width:169px;height:37px;background:transparent url(../images/select_bg01.jpg) no-repeat 0 0;padding:0 10px;line-height:37px;}
#uboxstyle div.tag_select_hover{display:block;color:#666;width:169px;height:37px;background:transparent url(../images/select_bg03.jpg) no-repeat 0 0px;padding:0 10px;line-height:37px;}
#uboxstyle div.tag_select_open{display:block;color:#666;width:169px;height:37px;background:transparent url(../images/select_bg02.jpg) no-repeat 0 0px;padding:0 10px;line-height:37px;}
#uboxstyle ul.tag_options{position:absolute;padding:0; height:170px; overflow-x:hidden;overflow-y:auto;  list-style:none;border: 1px solid #00a8e7; border-radius: 4px;width:189px;padding:0 0 5px; background:#fff;}
#uboxstyle ul.tag_options li{width:169px;display:block;padding:0 10px;height:34px;text-decoration:none;line-height:34px;color:#666;}
#uboxstyle ul.tag_options li.open_hover{background:#d0e8f2 repeat;color:#0066cc;}
#uboxstyle ul.tag_options li.open_selected{background:#049cf2 repeat;color:#fff;}

.reward_form p{ float:left; width:390px; padding:5px 30px; font-size:14px;}
.detail_form{width:1118px;  float:left; padding:15px 0;}
.detail_form div{width:1118px;  float:left; padding:10px 0;}
.detail{ width:560px; height:150px;border:1px solid #ccc; }
#submit{ width:860px; text-align:center; margin-top:15px;}
.submit_bt{font:18px/36px "Microsoft YaHei";width:160px;height:38px; background: #11a9e1;color:#fff;cursor:pointer;margin:0 auto;border-radius:3px; border:0;}
.submit_bt:hover{background:#ff9c00;}
















