@charset "utf-8";

/*认证中心*/
input{border:1px solid #ccc; border-radius:3px;vertical-align:middle;outline:none; height:32px; line-height:32px;  margin-left:10px; padding-left:8px; }
table{border-collapse: collapse;}
input:hover{border:1px solid #0095eb;}

#list_1 .lianjie{border:solid 1px #0CF;margin-right:10px;padding:4px 4px;}
#list_1 img{padding-bottom:5px;margin-right:10px;}
#list_1 .tishi{margin-bottom:10px;}

.submit_bt{font:18px/34px "Microsoft YaHei";width:110px;height:36px; background: #f59b3b;color:#fff;cursor:pointer;border-radius:3px; border:0;margin-left:10px;}
.submit_bt:hover{background:#ff9c00;border:0;}

#list_2 .tishi img{padding-bottom:5px;margin-right:10px;}
#list_2 .table th{background-color:#F0F0F0; height:50px;}
#list_2 .table{ text-align:center;margin-top:10px;margin-bottom:10px;}
#list_2 .table td{ text-align:center; padding:8px 10px;}
#list_2 span{color:#F00;font-weight:bold;}
#list_2 p{margin-bottom:10px;}

#list_3 img{padding-bottom:5px;margin-right:10px;}
#list_3 .table th{background-color:#F0F0F0;}
#list_3 .table{ text-align:center;margin-top:10px;}
#list_3 .table tr{height:50px;}
#list_3 span{color:#F00;font-weight:bold;}
#list_3 p{margin-bottom:10px;}

/*翻页 样式*/
.page{ float:right;padding:10px 0px; height:35px; font-size:14px; text-align: center;  width:430px ; margin-top:10px;}
.page a {border-color: #dbdbdb; border-right: 1px solid #dbdbdb; border-style:solid;border-width: 1px; color: #555; background:#f6f6f6; margin: 3px 7px; padding: 4px 9px;text-decoration: none;}
.page span.disabled,.page a:hover,.page a:active { border:1px solid #00a0ec;   color: #555;   margin: 3px 7px; padding: 4px 9px;}
.page span.skip{ padding:0px 10px;}
.page span.skip input{ margin:0px 5px;}
