@charset "utf-8";
.guide{ width:1180px;line-height:30px; font-size:15px;}

/*投资总表*/
input{border:1px solid #ccc; border-radius:3px;vertical-align:middle;outline:none; height:32px; margin-left:10px; padding-left:8px; color:#999;}
table{border-collapse: collapse;}
input:hover{border:1px solid #0095eb;}
.fl{ text-align:left;}
.fc{ text-align:center;}
#list_1 p,#list_2 p,#list_3 p,#list_4 p,#list_5 p,#list_6 p{width:825px; line-height:37px; color:#ff5800 ; background:url(../../images/info.gif) left center no-repeat; padding-left:20px;}
.tip{ width:825px; line-height:30px; padding:3px 10px; border:1px dashed #ccc; margin-top:10px;}
.zh_table,.bm_table{ line-height: 30px;  margin-top: 15px; float:left;}
.zh_table .th1,.bm_table .th1 { font-weight: bold; text-align: center; height:45px;  line-height:45px; font-size:15px; background:#f7f7f7;}
.zh_table .th1 td{ padding:0; }
.zh_table td { border: 1px solid #ddd; padding-left:20px;line-height:40px;}
.zh_table td a{ padding:0px 10px;}
.bm_table td { border: 1px solid #ddd; padding:10px; text-align:center;}
#list_1 .zh_table .fl{float:none}

#savebtn{ width:860px; float:left;  margin-top:30px; }
.save_bt{font:16px/36px "Microsoft YaHei";width:120px;height:38px; background: #1483e3; float:left; margin-left:280px;color:#fff;cursor:pointer;border-radius:3px; border:0; display:inline;}
.save_bt:hover{background:#ff9c00;}
.skip_bt{font:16px/36px "Microsoft YaHei";width:120px;height:38px; background: #ff9c00; float:left; margin-left:40px;color:#fff;cursor:pointer;border-radius:3px; border:0; display:inline;}

/*翻页 样式*/
.page{ float:left;padding:10px 0px; height:35px; font-size:14px; text-align: center;  width:845px ; margin-top:20px;}
.page a {border-color: #dbdbdb; border-right: 1px solid #dbdbdb; border-style:solid;border-width: 1px; color: #555; background:#f6f6f6; margin: 3px 7px; padding: 4px 9px;text-decoration: none;}
.page span.disabled,.page a:hover,.page a:active { border:1px solid #00a0ec;   color: #555;   margin: 3px 7px; padding: 4px 9px;}
.page span.skip{ padding:0px 10px;}
.page span.skip input{ margin:0px 5px;}